.header {
    background: #070707;
    padding: 20px 0px 12px 40px;
    display: flex;

    .logo_header {
        width: 10%;
        cursor: pointer;
        img {
            width: 180px;
            height: 17px;
            margin: 1px 40px 9px 0;
            object-fit: contain;
        }
    }
    .items_header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 0 0 0 15px;
        ul {
            
            margin: 0;
            li {
                color: #fff;
                opacity: 0.5;
                min-width: 60px;
                margin: 0 10px 0 0px;
                text-align: center;
                svg {
                    opacity: 1;
                }
            }
            :nth-child(3){
                padding-right: 20px;
            }
            :hover {
                opacity: 1;
            }
            .icon_search {
                opacity: 1;
            }
        }

        .input {
            width: 100%;
            margin: 0 385px 0 267px;
            opacity: 1;
            input {
                width: 100%;
            }
        }
    }
}
