.footer {
    color: #fff;
    ul {
        li:hover {
            opacity: 1 !important;
        }
    }
    .footer_up {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: #070707;
        .left_footer_up {
            width: 50%;
            display: flex;
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                    opacity: 0.5;
                }
            }
        }
        .right_footer_up {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
            ul {
                display: flex;
                li {
                    margin-left: 20px;
                    opacity: 0.5;
                }
            }
        }
    }
    .footer_down {
        color: #000;
        display: flex;
        justify-content: space-between;

        .left_footer_down {
            display: flex;
            ul {
                li {
                    margin-right: 29px;
                }
            }
        }
        .right_footer_down {
            margin: 12px 30px 0 0;
        }
    }
}
